.root {
  li {
    display: inline-flex;
  }
  a {
    display: inline-flex;
    color: #2f4f3c;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border: 1px solid #8cc63f;
    border-radius: 100%;
    margin-right: 10px;
    cursor: pointer;
    &:hover {
      background-color: #2f4f3c;
      color: #fff;
    }
  }
  :global {
    .selected {
      a {
        background-color: #2f4f3c;
        color: #fff;
        pointer-events: none;
      }
    }
  }
}
